.alert {
    margin-top: 30px;
    width: 400px;
    height: 60px;
    background-color: #97ffd0;
    text-align: center;
    position: relative;
    left: 3%;
    border-radius: 5px;
}

.alert p {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 600;
}

table {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 25px;
}

td,
th {
    border-collapse: collapse;
    padding: 2px;
    width: 220px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    line-height: normal;
    padding-top:7px;
}

.hard {
    width: 190px;
}

th {
    background-color: #000;
    color: #fff;
    border: 1px double #fff;
    font-family: 'DotGothic16', sans-serif;

}

td {
    background-color: #fff;
    border: 1px solid #000;
}

.blank {
    height: 50px;
}